################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/Students.API/bin/Debug/net6.0
/API/Students.API/obj
/.vs
